{% extends 'admin/index.html.twig' %}

{% block title %}Matiere index{% endblock %}

{% block body %}
    <h1>Matiere index</h1>
    <a class="btn btn-primary" href="{{ path('sortbytitleasc')}}">Sort</a>
    <table class="table" id="tableac">
        <input type="text" id="search" class="form-control" placeholder='Search'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Disponibility</th>
                <th>IdTeacher</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.nom }}</td>
                <td>{{ matiere.type }}</td>
                <td>{{ matiere.disponibility }}</td>
                <td>{{ matiere.idTeacher }}</td>
                <td>
                    <a href="{{ path('matiere_show', {'id': matiere.id}) }}">show</a>
                    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}">edit</a>
                </td>
            </tr>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js
"></script>
            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found === 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script><script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found === 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('matiere_new') }}">Create new</a>
    <a href="{{ path('pdf_index') }}">pdf</a>




{% endblock %}
