<style>
    body {
        background: #f5f5f5;
    }

    .rounded-lg {
        border-radius: 1rem;
    }

    .nav-pills .nav-link {
        color: #555;
    }

    .nav-pills .nav-link.active {
        color: #fff;
    }

</style>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
<div class="container">
    {{ form_start(form , {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}

    <div class="container py-5">

        <!-- For demo purpose -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-4">Add a payment method for your transactions</h1>
                <p class="lead mb-0">(Tutor username) Would like to get paid! then proceed to session!</p>
                <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets">Bootstrapious</a></p>
            </div>
        </div>
        <!-- End -->


        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="bg-white rounded-lg shadow-sm p-5">
                    <!-- Credit card form tabs -->
                    <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill">
                                <i class="fa fa-credit-card"></i>
                                Credit Card
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-paypal" class="nav-link rounded-pill">
                               <img src="{{ asset("assets/") }}img/flouci.png" width="100px"/>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill">
                                <i class="fa fa-university"></i>
                                Bank Transfer
                            </a>
                        </li>
                    </ul>
                    <!-- End -->


                    <!-- Credit card form content -->
                    <div class="tab-content">

                        <!-- credit card info-->
                        <div id="nav-tab-card" class="tab-pane fade show active">
                            <p class="alert alert-success">Some text success or error</p>
                            <form role="form">
                                <div class="form-group">
                                    {{ form_row(form.firstName) }}
                                    {{ form_widget(form.firstName) }}
                                    {{ form_errors(form.firstName) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.lastName) }}
                                    {{ form_widget(form.lastName) }}
                                    {{ form_errors(form.lastName) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.Email) }}
                                    {{ form_widget(form.Email) }}
                                    {{ form_errors(form.Email) }}
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form_label(form.cardNumber, 'Number', {'label_attr':{'class':'form-control'}}) }}
                                        {{ form_widget(form.cardNumber, {'attr': {'placeholder': 'Your Card  Number here '}}) }}
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted">
                                                <i class="fa fa-cc-visa mx-1"></i>
                                                <i class="fa fa-cc-amex mx-1"></i>
                                                <i class="fa fa-cc-mastercard mx-1"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label><span class="hidden-xs">Expiration</span></label>
                                            <div class="input-group">
                                                {{ form_label(form.MM, 'MM',{'label_attr': {'class': 'form-control'}}) }}
                                                {{ form_widget(form.MM) }}
                                                {{ form_errors(form.MM) }}
                                                {{ form_label(form.YY, 'YY',{'label_attr': {'class': 'form-control'}}) }}
                                                {{ form_widget(form.YY) }}
                                                {{ form_errors(form.YY) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4">
                                            <label data-toggle="tooltip"
                                                   title="Three-digits code on the back of your card">
                                                <i class="fa fa-question-circle"></i>
                                            </label>
                                            {{ form_label(form.CVV, 'CVV') }}
                                            {{ form_widget(form.CVV) }}
                                            {{ form_errors(form.CVV) }}
                                        </div>
                                    </div>


                                </div>
                                <div class="g-recaptcha align-middle" data-sitekey="6Lc0qLQaAAAAANMXNlzKMHzwuXyWX2q9RZZYRN93"></div>
                                <button class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">{{ button_label|default('Save') }}</button>
                            </form>
                        </div>
                        <!-- End -->

                        <!-- Paypal info -->
                        <div id="nav-tab-paypal" class="tab-pane fade">
                            <p>Paypal is easiest way to pay online</p>
                            <p>
                                <button type="button" class="btn btn-primary rounded-pill"><i
                                            class="fa fa-paypal mr-2"></i> Log into my Paypal
                                </button>
                            </p>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <!-- End -->

                        <!-- bank transfer info -->
                        <div id="nav-tab-bank" class="tab-pane fade">
                            <h6>Bank account details</h6>
                            <dl>
                                <dt>Edinar mtaa el tutor</dt>
                                <dd>La poste</dd>
                            </dl>
                            <dl>
                                <dt>Account number</dt>
                                <dd>7775877975</dd>
                            </dl>
                            <dl>
                                <dt>IBAN</dt>
                                <dd>CZ7775877975656</dd>
                            </dl>
                            <p class="text-muted">Send the reciept to your tutor to confirm the payment.
                            </p>
                        </div>
                        <!-- End -->
                    </div>
                    <!-- End -->

                </div>
            </div>
        </div>
    </div>


</div>
{{ form_end(form) }}
