{%  extends "admin/index.html.twig" %}

{% block title %}Card{% endblock %}
{% block hero %} <br>{% endblock %}
{% block body %}
    <h1>Card</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ card.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ card.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ card.Email }}</td>
            </tr>
            <tr>
                <th>Card Number</th>
                <td>{{ card.cardNumber }}</td>
            </tr>
            <tr>
                <th>Card MM</th>
                <td>{{ card.MM }}</td>
            </tr>
            <tr>
                <th>Card YY</th>
                <td>{{ card.YY }}</td>
            </tr>
            <tr>
                <th>Card CVV</th>
                <td>{{ card.CVV }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('card_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('card_edit', {'id': card.id}) }} " class="btn btn-primary">edit</a>

    {{ include('card/_delete_form.html.twig') }}
{% endblock %}
